@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Gothic+Expanded+One&display=swap');


@custom-variant dark (&:where(.dark, .dark *));

/* left sidebar menu */
@custom-variant home (&:where(.home, .home *));
@custom-variant explore (&:where(.explore, .explore *));
@custom-variant notification (&:where(.notification, .notification *));
@custom-variant profile (&:where(.profile, .profile *));
@custom-variant bookmark (&:where(.bookmark, .bookmark *));
@custom-variant settings (&:where(.settings, .settings *));



/* color theme */
@custom-variant lime (&:where(.lime, .lime *));
@custom-variant yellow (&:where(.yellow, .yellow *));
@custom-variant indigo (&:where(.indigo, .indigo *));
@custom-variant red (&:where(.red, .red *));
@custom-variant rose (&:where(.rose, .rose *));
@custom-variant orange (&:where(.orange, .orange *));
@custom-variant purple (&:where(.purple, .purple *));







@theme{
    --font-gothic: "gothic";
    --font-ios: "ios";
    --font-instrumental: "instrumental";
    
}

@theme{
    --color-lime: oklch(0.897 0.196 126.665);
    --color-yellow: oklch(0.945 0.129 101.54);
    --color-indigo: oklch(0.894 0.057 293.283);
    --color-red: oklch(0.704 0.191 22.216);
    --color-rose:  oklch(0.712 0.194 13.428);
    --color-orange: oklch(0.837 0.128 66.29);
    --color-purple: oklch(0.827 0.119 306.383);
}


@font-face {
  font-family: "gothic";
  src: url("./assets/fonts/SpecialGothicExpandedOne-Regular.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}


@font-face {
  font-family: "ios";
  src: url("./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: "instrumental";
  src: url("./assets/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(85, 85, 85, 0.6) transparent;

}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(108, 108, 108);
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(116, 116, 116)
}



/* hide scroll bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}