@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Gothic+Expanded+One&display=swap');


@custom-variant dark (&:where(.dark, .dark *));


@custom-variant home (&:where(.home, .home *));
@custom-variant explore (&:where(.explore, .explore *));
@custom-variant notification (&:where(.notification, .notification *));
@custom-variant profile (&:where(.profile, .profile *));
@custom-variant bookmark (&:where(.bookmark, .bookmark *));


@theme{
    --font-gothic: "gothic";
    --font-ios: "ios";
    --font-instrumental: "instrumental";
    
}

@theme{
    --color-lime: oklch(0.897 0.196 126.665);
}


@font-face {
  font-family: "gothic";
  src: url("./assets/fonts/SpecialGothicExpandedOne-Regular.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}


@font-face {
  font-family: "ios";
  src: url("./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: "instrumental";
  src: url("./assets/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
